@import url("https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 2rem;
}

li {
  /* display: flex; */
  gap: 15px;
  margin-bottom: 10px;
}

.lijuego {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}

p {
  padding: 0.5rem;
}

#p1 {
  text-align: center;
  text-decoration: underline;
}

ol {
  list-style-position: inside;
  padding: 2rem;
}

header {
  font-family: "Permanent Marker", cursive;
  background-color: blue;
  background-image: url("https://cdn.pixabay.com/photo/2015/09/21/14/47/banner-949944_1280.jpg");
  background-size: cover;
  padding: 3rem;
  color: burlywood;
}

h1 {
  text-shadow: 6px 6px 8px black;
}
body {
  height: 76.5vh;
  background-color: rgb(253, 251, 248);
}

a {
  text-decoration: none;
  color: burlywood;
}

h2 {
  padding: 1rem;
  text-align: left;
}
#h2Final {
  text-align: center;
}
#tituloTop {
  text-align: center;
}

button {
  margin-left: 1.8rem;
  padding: 3px;
  font-weight: bold;
  background-color: aquamarine;
  margin-bottom: 3%;
}
#btnRecargar {
  background-color: red;
}

#botonindex {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}

.listaRanking {
  padding: 0.5rem;
  text-align: center;
}
